<app-product></app-product>

<div class="container" >
    <form [formGroup]="productForm" (ngSubmit)="AddProduct(productForm.value)">
        <div class="row d-flex">
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput">ProductName</label>
          <input type="text" class="form-control" name="ProductName" formControlName="ProductName" id="formGroupExampleInput" placeholder="Enter Name">
        </div>

        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Cost</label>
            <input type="text" class="form-control" name="Cost" formControlName="Cost" id="formGroupExampleInput2" placeholder="Enter COst">
        </div>

        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Color</label>
            <input type="text" class="form-control" name="Color" formControlName="Color" id="formGroupExampleInput2" placeholder="Enter Color">
        </div>
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Storage</label>
            <input type="number" class="form-control" name="Storage" formControlName="Storage" id="formGroupExampleInput2" placeholder="Enter Storage">
        </div>
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Ram</label>
            <input type="number" class="form-control" name="Ram" formControlName="Ram" id="formGroupExampleInput2" placeholder="Enter RAM">
        </div>
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Operator</label>
            <input type="text" class="form-control" name="Operator" formControlName="Operator" id="formGroupExampleInput2" placeholder="Enter Operator">
        </div>
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Rating / 5</label>
            <input type="number" class="form-control" name="Rating" formControlName="Rating" id="formGroupExampleInput2" placeholder="Enter Rating">
        </div>
    </div>
        <div class="row mt-2 d-flex btns">
                <button type="submit" class="btn btn-primary">Add</button> &nbsp;
                <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
   
      </form>
</div>