<app-home></app-home>
<div class="container">
    <table class="table" class="table table-striped">
        <thead>
          <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Name</th>
            <th scope="col"> Email</th>
          </tr>
        </thead>
        <tbody >
            <tr *ngFor="let user of users">
                
                <td> {{user.id}}</td>
                <td> {{user.name}}</td>
                <td> {{user.email}}</td>
              </tr>
              
        </tbody>
      </table>
</div>
