<app-product></app-product>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"> Id </th>
            <th scope="col">Product Name</th>
            <th scope="col">Cost</th>
            <th scope="col">Color</th>
            <th scope="col">Storage(GB)</th>
            <th scope="col"> RAM(GB) </th>
            <th scope="col">Operator</th>
            <th scope="col">Rating/5</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody >
            <tr *ngFor="let product of products">
                
                <td> {{product.id}}</td>
                <td> {{product.productName}}</td>
                <td> {{product.cost}}</td>
                <td> {{product.color}}</td>
                <td> {{product.storage}}</td>
                <td> {{product.ram}}</td>
                <td> {{product.operator}}</td>
                <td> {{product.rating}}</td>
                <button type="button" class="btn btn-danger" (click)="deleteProductById(product)">Delete</button> &nbsp;
                <button type="button" class="btn btn-primary" >Edit</button>
              </tr>
              
        </tbody>
      </table>
</div>
