<div class="container mt-4">
    <div class="card">
        <h2 style="text-align: center">Registration Page </h2>
<form>
    <div class="form-group" >
        <label >Name : </label>
        <input type="text" [(ngModel)]="uname" [ngModelOptions]="{standalone: true}" id="name" class="form-control" placeholder="Enter Name" >
    </div>
    <br>
    <div class="form-group">
        <label>Email : </label>
        <input type="email" [(ngModel)]="uemail" [ngModelOptions]="{standalone: true}" id="email"class="form-control" placeholder="Enter Email">
    </div>
    <br>
    <div class="form-group">
        <label>Password : </label>
        <input type="password" [(ngModel)]="upassword" [ngModelOptions]="{standalone: true}" id="password" class="form-control" placeholder="Enter Password">
    </div>
    <br>
    <h3 style="text-align: center"><button type="submit" class="btn btn-primary" (click)="save()"> Register </button> <br> <br>
        <h5>  <a href="http://localhost:4200">Already User? Login here ! </a> </h5></h3>
</form>
</div>
</div>