<p>todos works!</p>
<button type="button" class="btn btn-primary">Primary</button>

<div *ngFor="let todo of todos">
     <app-todo-item todo="[todo]"></app-todo-item>
     <!-- <li>{{todo.sno}}- {{todo.title}} -{{todo.desc}} </li> -->
</div>
<h3> button from todos</h3>