<app-home></app-home>
<div class="container mt-4">
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/viewProduct">Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addProduct">Add Product</a>
        </li>
      </ul>
</div>