
<div class="topnav">
  <a class="navbar-brand" href="#">FrontendApp</a>
  <a href="#">Home</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <a href="/about" class="split">Logged In</a>

  <div class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#news">About Us</a>
    <a href="#contact">Contact Us</a>
  </div>
</div><router-outlet></router-outlet>
