.page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* min-height: 100vh; */
}

.content-wrap{
    flex: 1;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  