
<div class="carousel container my-3">
  <div class="image-container">
    <img [src]="images[(currentImageIndex - 1 + images.length) % images.length]" class="d-block w-25" alt="Next Image" style="object-fit: cover">
    <img [src]="images[currentImageIndex]" class="img-fluid" alt="Current Image">
    <img [src]="images[(currentImageIndex + 1) % images.length]" class="d-block w-25" alt="Next Image" style="object-fit: cover">
  </div>
  <div class="carousel-controls">
    <button (click)="showPreviousImage()" class="btn btn-danger">Prev</button>
    <button (click)="showNextImage()" class="btn btn-danger">Next</button>
  </div>
</div>
