.carousel {
  max-width: 800px; 
  margin: auto;
}

.image-container {
  display: flex;
  gap: 10px;
}

.img-fluid {
  flex: 1;
  width: 0; 
}

.carousel-controls {
  position: absolute;
  top: 45%;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
  
  
  